<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">


    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        
        <div class="jumbotron">
            <h1>Servicios</h1>
            <table id="example" class="table table-striped">
                <thead >
                    <th scope="col">Nombre</th>
                    <th scope="col">descripcion</th>
                    <th scope="col">duracionM</th>
                    <th scope="col">precio</th>
                    <th scope="col">categoria</th>
                    
                </thead>
                <tbody>
                    <% servicios.forEach(function(s) { %>
                    <tr>
                        <td><%= s.nombre %></td>
                        <td><%= s.descripcion %></td>
                        <td><%= s.duracionMinutos %></td>
                        <td><%= s.precio %></td>
                        <td><%= s.categoria %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </main>

    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    
    
    <script>
        new DataTable('#example');
    </script>
</body>